@import "./base.scss";

.v-transitioner--slideVerticallyDown {
  &-enter-active {
    position: absolute !important;
    @include animationName(vTransitioner_slideInDown);
    @include animationDuration(0.8s);
  }

  &-leave-active {
    position: absolute !important;
    @include animationName(vTransitioner_slideOutDown);
    @include animationDuration(0.8s);
  }
}

@keyframes vTransitioner_slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes vTransitioner_slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}
