@import "./base.scss";

.v-transitioner--slideVerticallyUp {
  &-enter-active {
    position: absolute !important;
    @include animationName(vTransitioner_slideInUp);
    @include animationDuration(0.8s);
  }

  &-leave-active {
    position: absolute !important;
    @include animationName(vTransitioner_slideOutUp);
    @include animationDuration(0.8s);
  }
}

@keyframes vTransitioner_slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes vTransitioner_slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
